<h5>Welcome, </h5>

<div class="container-fluid">
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"> <%=user.username %> </div>
  <img src="<%= user.thumbnail %>" />
    <div class="card-body text-primary">        
    </div>
  </div>
</div>
</div>

<style>

img{
    width:50px !important;
    height:50px !important;
}

</style>